%ul.breadcrumb
  %li
    %a{:href => "/cpanel"}= I18n.t('cpanel.title')
    %span.divider /
  %li
    %a{:href => cpanel_ads_path}= I18n.t("cpanel_ads.title")
    %span.divider /
  %li.active= I18n.t('common.show')

%table.table.table-condensed.table-bordered.table-hover
  %tr
    %th= I18n.t('cpanel_ads.position')
    %td= @cpanel_ad.position
  %tr
    %th= I18n.t('cpanel_ads.height')
    %td= @cpanel_ad.height
  %tr
    %th= I18n.t('cpanel_ads.width')
    %td= @cpanel_ad.width
  %tr
    %th= I18n.t('cpanel_ads.code')
    %td= @cpanel_ad.code
  %tr
    %th= I18n.t('cpanel_ads.description')
    %td= @cpanel_ad.description
  %tr
    %th= I18n.t('cpanel_ads.is_displayed')
    %td= @cpanel_ad.is_displayed ? I18n.t('common.true') : I18n.t('common.false')
  
= link_to I18n.t('common.edit'), edit_cpanel_ad_path(@cpanel_ad)
\|
= link_to I18n.t('common.back'), cpanel_ads_path
