%ul.breadcrumb
  %li
    %a{:href => "/cpanel"}= I18n.t('cpanel.title')
    %span.divider /
  %li
    %a{:href => attachments_path}= I18n.t("attachments.title")
    %span.divider /
  %li.active= I18n.t('common.edit')


= render 'form'

= link_to I18n.t('common.show'), @attachment
\|
= link_to I18n.t('common.back'), attachments_path
