%ul.breadcrumb
  %li
    %a{:href => "/cpanel"}= I18n.t('cpanel.title')
    %span.divider /
  %li
    %a{:href => attachments_path}= I18n.t("attachments.title")
    %span.divider /
  %li.active= I18n.t('common.show')

%table.table.table-condensed.table-bordered.table-hover
    %tr
    %th= I18n.t('attachment.Name')
    %td= @attachment.name
    %tr
    %th= I18n.t('attachment.File')
    %td= @attachment.file
  
= link_to I18n.t('common.edit'), edit_attachment_path(attachment)
\|
= link_to I18n.t('common.back'), attachments_path
