.home-wrapper
  .sections
    %a{:href => '#'} 分类1
    %a{:href => '#'} 分类2
  .things
    .thing
      .head 
        %a{:href => '#'} 这这这这这这里是推荐商品的标题抬头里是推荐商
      .block-1
        .info zhhe里是推荐理由和商品介绍he里是推荐理由和商品介绍he里是推荐理由和商品介绍he里是推荐理由和商品介绍he里是推荐理由和商品介绍he里是推荐理由和商品介绍e里是推荐理由和商品介绍
        .source 
          %span.time 2013-12-01 19:12
          %span.site 来源:
          %a.site{:href => '#'}天猫
      .block-2
        .thumb
          %img{:src => '/uploads/attachments/131130/normal_49e7e67196828187c223aacfc0f0f7bc.jpg'}
        .link
          %a{:href => '#'}= '<i class="icon-shopping-cart"></i> 购买链接'.html_safe
    .thing
      .head 
        %a{:href => '#'} 这这这这这这这里是推荐商品的标题抬头里是推荐这里是推荐商品的标题抬头里是推荐里是推荐商品的标题抬头里是推荐商
      .block-1
        .info zhhe里是推荐理由和商品介绍he里是推荐理由和商品介绍he里是推荐理由和商品介绍he里是推荐理由和商品介绍he里是推荐理由和商品介绍he里是推荐理由和商品介绍e里是推荐理由和商品介绍
        .source 
          %span.time 2013-12-01 19:12
          %span.site 来源:
          %a.site{:href => '#'}天猫
      .block-2
        .thumb
          %img{:src => '/uploads/attachments/131130/normal_49e7e67196828187c223aacfc0f0f7bc.jpg'}
        .link
          %a{:href => '#'}= '<i class="icon-shopping-cart"></i> 购买链接'.html_safe
  .blocks
    .tags
      .head 热门标签
      .wrapper
        %a.tag{:href => '#'}= '<i class="icon-tag"></i>标签'.html_safe
        %a.tag{:href => '#'}= '<i class="icon-tag"></i>标签'.html_safe
        %a.tag{:href => '#'}= '<i class="icon-tag"></i>标签'.html_safe
        %a.tag{:href => '#'}= '<i class="icon-tag"></i>标签'.html_safe
    .malls
      .head 热门商家
      .wrapper
        %a{:href => '#'}
          %img{:src => 'http://p11.tuan800.net/upload/zhitao_site/logo_image/1/normal_6f542a6d33608aeb3f4c01a79f47d8ee.png'}
        %a{:href => '#'}
          %img{:src => 'http://p11.tuan800.net/upload/zhitao_site/logo_image/1/normal_6f542a6d33608aeb3f4c01a79f47d8ee.png'}
        %a{:href => '#'}
          %img{:src => 'http://p11.tuan800.net/upload/zhitao_site/logo_image/1/normal_6f542a6d33608aeb3f4c01a79f47d8ee.png'}
        %a{:href => '#'}
          %img{:src => 'http://p11.tuan800.net/upload/zhitao_site/logo_image/1/normal_6f542a6d33608aeb3f4c01a79f47d8ee.png'}
        %a{:href => '#'}
          %img{:src => 'http://p11.tuan800.net/upload/zhitao_site/logo_image/1/normal_6f542a6d33608aeb3f4c01a79f47d8ee.png'}
        %a{:href => '#'}
          %img{:src => 'http://p11.tuan800.net/upload/zhitao_site/logo_image/1/normal_6f542a6d33608aeb3f4c01a79f47d8ee.png'}
        %a{:href => '#'}
          %img{:src => 'http://p11.tuan800.net/upload/zhitao_site/logo_image/1/normal_6f542a6d33608aeb3f4c01a79f47d8ee.png'}
        %a{:href => '#'}
          %img{:src => 'http://p11.tuan800.net/upload/zhitao_site/logo_image/1/normal_6f542a6d33608aeb3f4c01a79f47d8ee.png'}
        %a{:href => '#'}
          %img{:src => 'http://p11.tuan800.net/upload/zhitao_site/logo_image/1/normal_6f542a6d33608aeb3f4c01a79f47d8ee.png'}
        %a{:href => '#'}
          %img{:src => 'http://p11.tuan800.net/upload/zhitao_site/logo_image/1/normal_6f542a6d33608aeb3f4c01a79f47d8ee.png'}
        %a{:href => '#'}
          %img{:src => 'http://p11.tuan800.net/upload/zhitao_site/logo_image/1/normal_6f542a6d33608aeb3f4c01a79f47d8ee.png'}
        %a{:href => '#'}
          %img{:src => 'http://p11.tuan800.net/upload/zhitao_site/logo_image/1/normal_6f542a6d33608aeb3f4c01a79f47d8ee.png'}
        %a{:href => '#'}
          %img{:src => 'http://p11.tuan800.net/upload/zhitao_site/logo_image/1/normal_6f542a6d33608aeb3f4c01a79f47d8ee.png'}
        %a{:href => '#'}
          %img{:src => 'http://p11.tuan800.net/upload/zhitao_site/logo_image/1/normal_6f542a6d33608aeb3f4c01a79f47d8ee.png'}
        %a{:href => '#'}
          %img{:src => 'http://p11.tuan800.net/upload/zhitao_site/logo_image/1/normal_6f542a6d33608aeb3f4c01a79f47d8ee.png'}
    .sales
      .head 打折促销
    .ads
