.home-wrapper
  .breadcrumb
    %a{:href => '#'}= I18n.t('homepage')
    &gt;
    %a{:href => '#'}= I18n.t('timeline')
  .things
    - @things.each do |thing|
      .thing
        .block-1
          .head 
            %a{:href => "/thing/#{thing.title}"}
              %span.title= thing.title
              %span.sub= thing.sub_title
          .node
            %span 分类:&nbsp; 
            %a{:href => "/section/#{thing.node.section.name}"}= "#{thing.node.section.name}"
            \/
            %a{:href => "/section/#{thing.node.section.name}/node/#{thing.node.name}"}= "#{thing.node.name}"
          .info= thing.summary.html_safe
          .source 
            %span.time= thing.created_at.strftime('%Y-%m-%d %H:%M')
            %span.site 来源:
            %a.site{:href => "/mall/#{thing.mall.try(:name)}"}= thing.mall.try(:name)
            %span 价格: 
            %span.price= "&yen#{thing.coupon_price}".html_safe
        .block-2
          .thumb
            %img{:src => thing.master_pic_url}
          .link
            %a{:href => thing.click_url, :target => '_blank'}= '<i class="icon-shopping-cart"></i> 购买链接'.html_safe
  .blocks
    .tags
      .head 热门标签
      .wrapper
        - Section.where('name = ?', I18n.t('timeline')).first.tags.first.name.split(',').map {|t| t.strip}[0..14].each do |t|
          %a.tag{:href => '#'}= "#{t[0..4]}".html_safe
    .malls
      .head 热门商家
      .wrapper
        - @malls.each do |mall|
          %a{:href => mall.try(:url), :target => '_blank'}
            %img{:src => mall.try(:logo_url)}
    .sales
      .head 打折促销
    .ads
      - unless @ad_home_right_bottom.nil?
        #ad_home_right_bottom{:style => "width:#{@ad_home_right_bottom.try(:width)};height:#{@ad_home_right_bottom.try(:height)}"}= @ad_home_right_bottom.try(:code).html_safe
