%ul.breadcrumb
  %li
    %a{:href => "/cpanel"}= I18n.t('cpanel.title')
    %span.divider /
  %li.active= I18n.t('settings.title')

%table.table.table-condensed.table-bordered.table-hover
  %tr
    %th= I18n.t('settings.name')
    %th= I18n.t('settings.value')
    %th= I18n.t('settings.summary')
    %th

  - @settings.each do |setting|
    %tr
      %td= setting.name
      %td= setting.value
      %td= setting.summary
      %td
        = link_to '<i class="icon-pencil"></i>'.html_safe, edit_setting_path(setting)
        = link_to '<i class="icon-remove"></i>'.html_safe, setting, :method => :delete, :data => { :confirm => I18n.t('common.confirm') }

%br

%a.btn.btn-success.btn-mini{:href => new_setting_path}= I18n.t('common.new')
