%ul.breadcrumb
  %li
    %a{:href => "/cpanel"}= I18n.t('cpanel.title')
    %span.divider /
  %li
    %a{:href => settings_path}= I18n.t('settings.title')
    %span.divider /
  %li.active= I18n.t('common.new')

= render 'form'

= link_to I18n.t('common.back'), settings_path
