%p#notice= notice

%p
  %b Name:
  = @setting.name
%p
  %b Value:
  = @setting.value
%p
  %b Summary:
  = @setting.summary

= link_to 'Edit', edit_setting_path(@setting)
\|
= link_to 'Back', settings_path
