%ul.breadcrumb
  %li
    %a{:href => "/cpanel"}= I18n.t('cpanel.title')
    %span.divider /
  %li
    %a{:href => cpanel_settings_path}= I18n.t("cpanel_settings.title")
    %span.divider /
  %li.active= I18n.t('common.edit')


= render 'form'

= link_to I18n.t('common.show'), @cpanel_setting
\|
= link_to I18n.t('common.back'), cpanel_settings_path
