%ul.breadcrumb
  %li
    %a{:href => "/cpanel"}= I18n.t('cpanel.title')
    %span.divider /
  %li
    %a{:href => cpanel_attachments_path}= I18n.t("cpanel_attachments.title")
    %span.divider /
  %li.active= I18n.t('common.edit')


= render 'form'

= link_to I18n.t('common.show'), @cpanel_attachment
\|
= link_to I18n.t('common.back'), cpanel_attachments_path
