%ul.breadcrumb
  %li
    %a{:href => "/cpanel"}= I18n.t('cpanel.title')
    %span.divider /
  %li.active= I18n.t("cpanel_promotions.title")


%table.table.table-condensed.table-bordered.table-hover
  %tr
    %th= I18n.t('cpanel_promotions.title')
    %th= I18n.t('cpanel_promotions.url')
    %th= I18n.t('cpanel_promotions.mall')
    %th= I18n.t('cpanel_promotions.content')
    %th= I18n.t('cpanel_promotions.order')
    %th

  - @cpanel_promotions.each do |cpanel_promotion|
    %tr
      %td= cpanel_promotion.title
      %td
        %a{:href => cpanel_promotion.url}= I18n.t('cpanel_promotions.url')
      %td= cpanel_promotion.mall_id
      %td= cpanel_promotion.content
      %td= cpanel_promotion.order
      %td
        = link_to '<i class="icon-pencil"></i>'.html_safe, edit_cpanel_promotion_path(cpanel_promotion)
        = link_to '<i class="icon-remove"></i>'.html_safe, cpanel_promotion, :method => :delete, :data => { :confirm => I18n.t('common.confirm') }

= link_to I18n.t('common.new'), new_cpanel_promotion_path
